<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.petapp">

<!--인터넷 권한 선언-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Petapp">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".introduce"/>
        <activity android:name=".membership"/>
        <activity android:name=".trainingMain"/>
        <activity android:name=".trainingSub1"/>
        <activity android:name=".trainingSub2"/>
        <activity android:name=".trainingSub3"/>
        <activity android:name=".conversation"/>
        <activity android:name=".conversation_list"/>
        <activity android:name=".conversation_list2"/>
        <activity android:name=".question"/>
        <activity android:name=".question_list1"/>
        <activity android:name=".question_list2"/>
        <activity android:name=".question_list3"/>


    </application>



</manifest>